In [20]:
import pandas as pd
from neo4j import GraphDatabase#, basic_auth, config

In [19]:
# config.DATABASE_URL = 'bolt://neo4j:test@neo4j:7687' 
#config.ENCRYPTED_CONNECTION = False
driver = GraphDatabase.driver("bolt://neo4j:7687", 
                              auth=("neo4j", "test"), 
                              encrypted=False)

In [22]:
with driver.session() as s:
    result = s.run("MATCH (a:Person) RETURN a.name")
    df = pd.DataFrame([response.values() for response in result], columns=result.keys())

In [23]:
df

    a.name
0  Prayson
1      Lea
2   Eloise
3     Nora
4    Mario